.cart {
  padding-top: 60px;
  padding-bottom: 50px;
  min-height: 100vh;

  &__title {
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-weight: 300;
  }

  &__list {
    width: 65%;
    margin: 0 auto;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    margin-top: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);

    &-title,
    &-price {
      text-align: center;
      color: #fff;
      font-size: 24px;
    }

    &-img {
      display: flex;
      flex: 0 0 220px;
      height: 125px;
      object-fit: cover;
    }
  }

  &__close {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: -10px;
    right: -10px;
    color: #fff;
    font-size: 20px;
    border-radius: 100%;
    border: 1px solid #fff;
    cursor: pointer;
  }

  &__empty-desc {
    margin: 40px auto;
    text-align: center;
    color: #fff;
    font-size: 24px;
  }
}
