.menu-item-page__wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: calc(100vh - 60px);
  padding: 40px 60px;
}

.menu-item-page__block {
  position: relative;
  margin: 0 auto;
}
