.menu {
  &__item {
    display: flex;
    flex-direction: column;
    flex: 350px 0 1;
    min-height: 400px;
    background-color: #fff;
    box-shadow: 5px 5px 45px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;

    & a {
      text-decoration: none;
      color: #29a745;
      background-color: #fff;
      border: 2px solid #29a745;
    }
  }

  &__title {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__img {
    width: calc(100% + 40px);
    transform: translateX(-20px);
    height: 240px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  &__category,
  &__price {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;

    span {
      font-weight: 700;
    }
  }

  &__price {
    margin-bottom: 20px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    padding: 12px 20px;
    border: none;
    background-color: #29a745;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
  }
}
